@media screen and (max-width: 760px){
    *{margin: 5px}
    body{
        align-items: center;
    }
    header{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
        gap: 0.5vh;
    }
   a{
    font-size: 3vh;
   }
   button{
    font-size: 3.5vh;
   }
   img{
    width: 100%;
   }
        

 img#dragao{
    display: none;
 }
 button#b{margin: 5px;
    
 }
 input{

    width: 50%;
 }

}