@charset "UTF-8"; 

*
{
font-family:arial,Arial, Helvetica, sans-serif

}



body{   

    background-image: linear-gradient(to right,#8db49e ,#89E8B5 ,#5a8bc7,#2176df);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding: 0%;
        margin: 0%;
        text-align: center;
        background-attachment: fixed;
        height: 100vh;

    }
    main{
        background-color: aliceblue;
       padding: 10px;
        margin: auto;
        border-radius: 10px;
        max-width: 1000px;
      box-shadow:20px 20px 20px #000000;
      
    }

h1{
    height: 85px;
    font-size: 50px;
    color:#0000005b;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 1px rgb(2, 2, 2);
   }


  h2{

    color: #fff01afd;
    text-shadow:  2px 2px 5px rgba(66, 68, 45, 0.616);



    


}
h2#Dois{
    color: #FF7F38;


}
  p{
color:#000000 ;
text-align: justify;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
font-style: italic;

  }

  img{
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 40px;


  }

  video{

    display: block;
    width: 100%;
  }



   